:host {
  display: block;
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2000; // High z-index to appear on top
}

.snackbar-container {
  display: flex;
  align-items: flex-start;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  min-width: 320px;
  max-width: 500px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  color: var(--neutral-50);
  animation: slide-up 0.4s ease-out;

  background-color: var(--secondary-color);
  border-left: 5px solid var(--primary-color);

  &.success {
    background-color: var(--success);
    color: var(--neutral-50);
  }
  &.error {
    background-color: var(--error);
    color: var(--neutral-50);
  }
  &.warning {
    background-color: var(--warning);
    color: var(--neutral-50);
  }

  &.info {
    background-color: var(--info);
    color: var(--neutral-50);
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.icon-container {
  margin-right: 1rem;
  margin-top: 2px;
}

.message-container {
  flex-grow: 1;
  // Max height with vertical scroll
  max-height: 40vh;
  overflow-y: auto;
  // Hide horizontal scrollbar
  overflow-x: hidden;

  p {
    margin: 0;
    line-height: 1.5;
    // Allows long words to break and wrap
    word-wrap: break-word;
  }
}

.close-btn {
  background: transparent;
  border: none;
  color: var(--neutral-50);
  cursor: pointer;
  margin-left: 1.5rem;
  padding: 0;
  opacity: 0.7;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }
}
